*.csv#
*.egg/
*.egg-info*
.eggs/
inspect.py
speed.txt
*.pyc
*.swp
.DS_Store
build
django_calaccess_parser.egg-info
reference
dist
data
*.swo
docs/_build
.coverage
.tox
example/data/
example/test-data/download/
example/test-data/csv/
example/test-data/tsv/
example/test-data/log/
example/test-data/clean.zip
example/test-data/.media/
example/.media/*
example/.static/
example/routers.py
example/settings_local.py
*dbwebexport_sample/
jupyter_notebooks
example/.documentcloud_metadata/2753585.json
django.log
.python-version
