*.egg/
*.egg-info*
.eggs/
inspect.py
speed.txt
*.pyc
*.swp
.DS_Store
build
django_calaccess_parser.egg-info
reference
dist
data
*.swo
docs/_build
.coverage
.tox
example/data
example/test-data/csv
example/test-data/clean.zip
example/settings_local.py
example/.static/
example/routers.py
*/.media/*
*dbwebexport_sample/
jupyter_notebooks
example/.documentcloud_metadata/2753585.json
django.log