[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.*"
django-postgres-copy = ">=2.5.*"
"hurry.filesize" = "*"
"psycopg2-binary" = "*"
pytz = "*"
requests = "*"
clint = "*"
csvkit = ">=1.0"

[dev-packages]
Sphinx = "*"
sphinx_rtd_theme = "*"
sphinx-autobuild = "*"
agate = "==1.4.0"
subsample = "*"
pydocstyle = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
coverage = "*"
requests-mock = "*"
PyGithub = "*"
twine = "*"

[requires]
python_version = "3.8"
