Django
mysqlclient
Sphinx
sphinx_rtd_theme
coverage
hurry.filesize
flake8
flake8_docstrings
psycopg2
python-coveralls
pytz
requests
sphinx-autobuild
tox
clint
csvkit
subsample
django-postgres-copy
datpy
agate
