Django
mysqlclient
Sphinx
coverage
hurry.filesize
pep8
psycopg2
pyflakes
python-coveralls
python-dateutil
requests
sphinx-autobuild
tox
clint
csvkit
subsample
-e git+https://github.com/california-civic-data-coalition/django-postgres-copy.git@HEAD#egg=django-postgres-copy
