# The app
Django>=1.10
-e git+https://github.com/california-civic-data-coalition/django-postgres-copy.git@HEAD#egg=django-postgres-copy
hurry.filesize
pytz
requests
clint
csvkit>=1.0

# Databases
mysqlclient
psycopg2

# Docs
Sphinx
sphinx_rtd_theme
sphinx-autobuild

# Testing
agate==1.4.0
subsample
pydocstyle
flake8
flake8_docstrings
coverage
python-coveralls
requests_mock

# Extra management commands
latimes-calculate
PyGithub

# Packaging
wheel
twine

# DAT
datpy
