# The app
Django>=1.8
django-postgres-copy>=0.1.0
hurry.filesize
pytz
requests
clint
csvkit

# Databases
mysqlclient
psycopg2

# Docs
Sphinx
sphinx_rtd_theme
sphinx-autobuild

# Testing
agate
subsample
pydocstyle==1.0.0
flake8
flake8_docstrings
coverage
python-coveralls

# Packaging
wheel
twine

# DAT
datpy
