DEBUG = False # Set this to False when running load scripts for MySQL
DEVELOPMENT, PRODUCTION = True, False
DEBUG_TOOLBAR = True
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'local_calaccess_db',
        'USER': 'calaccessuser',
        'PASSWORD': 'password',
        'HOST': 'localhost',
        'PORT': '3306',
        'OPTIONS': {
            'local_infile': 1,
        }
    }
}
CACHES = {
    'default': {
        'LOCATION': 'my_cache_table',
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
        #'BACKEND': 'django.core.cache.backends.db.DatabaseCache',
    }
}
STATIC_URL = '/static/'
SECRET_KEY = 'my-secret-key'
