// Mediaquery presets
@import '../../bower_components/sass-mediaqueries/media-queries';

// Typekit classes
$metaserif: "ff-meta-serif-web-pro", Georgia, serif;
$proxima-nova: "proxima-nova-condensed", sans-serif;

// ==================
// ** DEFAULTS **
// ==================
html {
  overflow-y: scroll;
}

body {
  background: rgb(255, 255, 255);
  font-size: 16px;
  color: rgb(34, 34, 34);
  padding: 0;
  margin: 0;
  font-family: $metaserif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

.main {
  margin-top: 50px;
  font-size: 22px;
}