{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron jumbotron-calaccess">
      <h2>{{ filer.name }} ({{ filer.filer_id }})</h2>
      <p id="filer-type">Type: <span class="label label-info">{{ filer.filer_type }}</span></p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Committee</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for committee in filer.committee_set.all %}
        <tr>
           <td>{{ committee.name }}</td>
           <td>{{ committee.committee_type }}</td>
         </tr>
         {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}