{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
      <header class="page-header">
          <h2>Explore California Campagin Finance</h2>
          <p>Type in the name a candidate or committee to explore their contributions</p>
      </header>
      <form action="/search/" method="get">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search for a candidate or committee">
        </div>
      </form>
  </div>
</div>
{% endblock %}
