{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron jumbotron-calaccess">
      <h1>California campaign finance search</h1>
      <p>without the headache.</p>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <form action="/search/" method="get" class="col-lg-8 col-lg-offset-2">
        <div class="search-container"></div>
        <p class="search-text">tell me more about </p>
        <input type="text" name="q" class="search-input" placeholder=" a candidate or committee">
        <button class="btn btn-default"><span class="fa fa-search"></span></button>
      </form>
    </div>
    {% block search %}
    {% endblock %}
  </div>
</div>
{% endblock %}
