{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
      <header class="page-header">
          <h2>Explore California Campagin Finance</h2>
          <p>Type in the name a candidate or committee to explore their contributions</p>
      </header>
      <form action="/search/" method="get">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search for a candidate or committee">
        </div>
      </form>
      <div class="filters">
          <span class="label label-info">Filters:</span>
          <form role="form">
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineRadio1" value="option1"> Candidate
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineRadio2" value="option2"> Committee
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineRadio3" value="option3"> Other
              </label>
          </form>
      </div>
      <img id="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Flag_of_California.svg/1000px-Flag_of_California.svg.png" alt="California state flag">
  </div>
</div>
{% endblock %}