name: Extract, transform and load
on:
  workflow_dispatch:

jobs:
  etl:
    name: "ETL"
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 10240
          swap-size-mb: 8192
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'

      - name: Checkout the repo
        uses: actions/checkout@v2

      - uses: harmon758/postgresql-action@v1
        with:
          postgresql version: '11'
          postgresql db: calaccess_raw
          postgresql user: postgres
          postgresql password: postgres

      - name: Install pipenv
        run: pipx install pipenv

      - uses: actions/setup-python@v3
        with:
          python-version: '3.9'
          cache: 'pipenv'

      - id: pipenv-install
        name: Install Python dependencies
        run: pipenv install --dev --python `which python`

      - name: Update downloads website
        run: |
          pipenv run python -W ignore example/manage.py migrate;
          pipenv run python -W ignore example/manage.py updatecalaccessrawdata --keep-files --noinput --verbosity=3;
        shell: bash
        env:
          PGPASSWORD: postgres

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: django-calaccess-raw-data
          path: example/data/
          if-no-files-found: error

      - name: Upload files to biglocalnews.org
        uses: biglocalnews/upload-files@v1
        with:
          api-key: ${{ secrets.BLN_API_TOKEN }}
          project-id: ${{ secrets.BLN_PROJECT_ID }}
          path: example/data/
